@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Damion:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Rubik:regular&display=swap);
@charset "UTF-8";
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: none;
}

._icon-about-us:before {
  content: "\e900";
}

._icon-instagram:before {
  content: "\e901";
}

._icon-logo:before {
  content: "\e902";
}

._icon-product:before {
  content: "\e903";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #4a4a4a;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

input::-ms-clear {
  display: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* Remove annoying border on linked images. */
a img {
  border: none;
}

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

blockquote, q {
  quotes: "" "";
}

/* Tables still need 'cellspacing="0"' in the markup. */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

table, td, th {
  vertical-align: middle;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 90rem;
  box-sizing: border-box;
  margin: 0 auto;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 15px;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  transform: scale(1) perspective(450px) translate(0px, 0%) rotateX(0deg);
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  width: 100%;
}

.popup__content {
  visibility: hidden;
  transform: scale(0) perspective(450px) translate(0px, -100%) rotateX(45deg);
  transition: transform 0.8s ease 0s;
  background-color: #eaeaea;
  padding: 2.5rem;
  width: 100%;
  max-width: 600px;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  gap: 0.625rem;
}
.lock .popup__content {
  visibility: visible;
}

.popup__close {
  position: relative;
  top: -1rem;
  right: -0.875rem;
  align-self: flex-end;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.25rem;
}
.form__item:last-child {
  padding-top: 1.25rem;
}
.form__input {
  background-color: #fff;
  width: 100%;
  height: 3rem;
  border-radius: 4px;
  padding: 0rem 1rem;
}
.form__input::placeholder {
  color: #9b9b9b;
}
.form__input:focus::placeholder {
  color: #4a4a4a;
}
.form__button {
  padding: 12px 20px;
  background-color: #9dc20a;
  border-radius: 4px;
  color: #fff;
  transition: background-color 0.3s ease 0s;
}
.form__button:hover {
  background-color: #8fb300;
}
.form__error {
  text-align: left;
  padding: 0.5rem 1.5rem 0;
  color: red;
  font-size: 0.75rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

body {
  background-color: #eaeaea;
}

.header {
  background-color: #fff;
}
.header__container {
  display: flex;
  padding: 10px;
  align-items: center;
}
@supports (padding-left: clamp( 0.625rem , -0.125rem  +  2.2222222222vw , 1.875rem )) {
  .header__container {
    padding-left: clamp( 0.625rem , -0.125rem  +  2.2222222222vw , 1.875rem );
  }
}
@supports not (padding-left: clamp( 0.625rem , -0.125rem  +  2.2222222222vw , 1.875rem )) {
  .header__container {
    padding-left: calc(0.625rem + 1.25 * (100vw - 33.75rem) / 56.25);
  }
}
@supports (padding-right: clamp( 0.625rem , -0.125rem  +  2.2222222222vw , 1.875rem )) {
  .header__container {
    padding-right: clamp( 0.625rem , -0.125rem  +  2.2222222222vw , 1.875rem );
  }
}
@supports not (padding-right: clamp( 0.625rem , -0.125rem  +  2.2222222222vw , 1.875rem )) {
  .header__container {
    padding-right: calc(0.625rem + 1.25 * (100vw - 33.75rem) / 56.25);
  }
}
@media (max-width: 540px) {
  .header__container {
    padding: 10px 18px;
  }
}

.logo {
  font-family: Rubik;
  font-size: 1.375rem;
}
@media (max-width: 540px) {
  .logo__link {
    font-size: 0px;
    display: flex;
    align-items: center;
  }
  .logo__link::before {
    display: block;
    font-size: 24px;
    margin: 0px 10px 0px 0px;
  }
}

.menu {
  margin-left: auto;
}
@supports (line-height: clamp( 3.125rem , 2.4107142857rem  +  1.4880952381vw , 3.75rem )) {
  .menu {
    line-height: clamp( 3.125rem , 2.4107142857rem  +  1.4880952381vw , 3.75rem );
  }
}
@supports not (line-height: clamp( 3.125rem , 2.4107142857rem  +  1.4880952381vw , 3.75rem )) {
  .menu {
    line-height: calc(3.125rem + 0.625 * (100vw - 48rem) / 42);
  }
}
@media (max-width: 47.99875em) {
  @supports (line-height: clamp( 2rem , -0.6644736842rem  +  7.8947368421vw , 3.125rem )) {
    .menu {
      line-height: clamp( 2rem , -0.6644736842rem  +  7.8947368421vw , 3.125rem );
    }
  }
  @supports not (line-height: clamp( 2rem , -0.6644736842rem  +  7.8947368421vw , 3.125rem )) {
    .menu {
      line-height: calc(2rem + 1.125 * (100vw - 33.75rem) / 14.25);
    }
  }
}
@media (max-width: 540px) {
  .menu {
    margin-left: 0;
    flex: 1 1 auto;
  }
}
.menu__list {
  display: flex;
  align-items: center;
}
@media (max-width: 540px) {
  .menu__list {
    justify-content: space-evenly;
  }
}
@supports (margin-left: clamp( 0.00000625rem , -1.49999rem  +  4.4444333333vw , 2.5rem )) {
  .menu__item {
    margin-left: clamp( 0.00000625rem , -1.49999rem  +  4.4444333333vw , 2.5rem );
  }
}
@supports not (margin-left: clamp( 0.00000625rem , -1.49999rem  +  4.4444333333vw , 2.5rem )) {
  .menu__item {
    margin-left: calc(0.00000625rem + 2.49999375 * (100vw - 33.75rem) / 56.25);
  }
}
@media (max-width: 33.75em) {
  .menu__item {
    margin-left: inherit;
  }
}
@media (max-width: 540px) {
  .menu__item:last-child {
    display: none;
  }
}
.menu__link {
  display: block;
  padding: 0px 10px;
  transition: background-color 0.3s ease 0s;
}
.menu__link:hover {
  background-color: #eaeaea;
}
@media (max-width: 540px) {
  .menu__link {
    font-size: 0px;
    display: flex;
    align-items: center;
  }
  .menu__link::before {
    display: block;
    font-size: 24px;
  }
}
.menu__link_follow {
  display: flex;
  align-items: center;
}
.menu__link_follow::after {
  font-family: icons;
  content: "\e901";
  font-size: 1.25rem;
}
@supports (margin-left: clamp( 0.375rem , 0.15rem  +  0.6666666667vw , 0.75rem )) {
  .menu__link_follow::after {
    margin-left: clamp( 0.375rem , 0.15rem  +  0.6666666667vw , 0.75rem );
  }
}
@supports not (margin-left: clamp( 0.375rem , 0.15rem  +  0.6666666667vw , 0.75rem )) {
  .menu__link_follow::after {
    margin-left: calc(0.375rem + 0.375 * (100vw - 33.75rem) / 56.25);
  }
}
@media (max-width: 540px) {
  .menu__link_follow {
    display: none;
  }
}
.menu__button {
  display: none;
}
@media (max-width: 47.99875em) {
  .menu__button {
    display: block;
    padding: 6px 10px;
    background-color: #9dc20a;
    border-radius: 4px;
    color: #fff;
    transition: background-color 0.3s ease 0s;
  }
  @supports (margin-left: clamp( 0.625rem , -1.4473684211rem  +  6.1403508772vw , 1.5rem )) {
    .menu__button {
      margin-left: clamp( 0.625rem , -1.4473684211rem  +  6.1403508772vw , 1.5rem );
    }
  }
  @supports not (margin-left: clamp( 0.625rem , -1.4473684211rem  +  6.1403508772vw , 1.5rem )) {
    .menu__button {
      margin-left: calc(0.625rem + 0.875 * (100vw - 33.75rem) / 14.25);
    }
  }
  .menu__button:hover {
    background-color: #8fb300;
  }
}

.footer {
  background-color: #9b9b9b;
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 32px;
  font-size: 0.75rem;
  color: #fff;
}
@supports (line-height: clamp( 3.375rem , 2.9476225854rem  +  0.8915304606vw , 3.75rem )) {
  .footer__container {
    line-height: clamp( 3.375rem , 2.9476225854rem  +  0.8915304606vw , 3.75rem );
  }
}
@supports not (line-height: clamp( 3.375rem , 2.9476225854rem  +  0.8915304606vw , 3.75rem )) {
  .footer__container {
    line-height: calc(3.375rem + 0.375 * (100vw - 47.9375rem) / 42.0625);
  }
}
@media (max-width: 47.9375em) {
  .footer__container {
    line-height: inherit;
  }
}
@media (max-width: 47.99875em) {
  @supports (line-height: clamp( 2.5rem , 1.875rem  +  3.125vw , 3.375rem )) {
    .footer__container {
      line-height: clamp( 2.5rem , 1.875rem  +  3.125vw , 3.375rem );
    }
  }
  @supports not (line-height: clamp( 2.5rem , 1.875rem  +  3.125vw , 3.375rem )) {
    .footer__container {
      line-height: calc(2.5rem + 0.875 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 47.99875em) and (min-width: 48em) {
  .footer__container {
    line-height: inherit;
  }
}
@media (max-width: 540px) {
  @supports (font-size: clamp( 0.625rem , 0.4431818182rem  +  0.9090909091vw , 0.75rem )) {
    .footer__container {
      font-size: clamp( 0.625rem , 0.4431818182rem  +  0.9090909091vw , 0.75rem );
    }
  }
  @supports not (font-size: clamp( 0.625rem , 0.4431818182rem  +  0.9090909091vw , 0.75rem )) {
    .footer__container {
      font-size: calc(0.625rem + 0.125 * (100vw - 20rem) / 13.75);
    }
  }
  @supports (padding-left: clamp( 1rem , -0.4545454545rem  +  7.2727272727vw , 2rem )) {
    .footer__container {
      padding-left: clamp( 1rem , -0.4545454545rem  +  7.2727272727vw , 2rem );
    }
  }
  @supports not (padding-left: clamp( 1rem , -0.4545454545rem  +  7.2727272727vw , 2rem )) {
    .footer__container {
      padding-left: calc(1rem + 1 * (100vw - 20rem) / 13.75);
    }
  }
  @supports (padding-right: clamp( 1rem , -0.4545454545rem  +  7.2727272727vw , 2rem )) {
    .footer__container {
      padding-right: clamp( 1rem , -0.4545454545rem  +  7.2727272727vw , 2rem );
    }
  }
  @supports not (padding-right: clamp( 1rem , -0.4545454545rem  +  7.2727272727vw , 2rem )) {
    .footer__container {
      padding-right: calc(1rem + 1 * (100vw - 20rem) / 13.75);
    }
  }
}
.prime {
  color: #fff;
  background: url("../img/banner-landingpage.jpg") center/cover no-repeat;
}
@media (max-width: 47.99875em) {
  .prime {
    background-position: right;
  }
}
.prime__container {
  padding: 170px 100px;
}
@media (max-width: 47.99875em) {
  .prime__container {
    padding: 160px 20px;
  }
  @supports (padding-top: clamp( 6.25rem , 3.5714285714rem  +  13.3928571429vw , 10rem )) {
    .prime__container {
      padding-top: clamp( 6.25rem , 3.5714285714rem  +  13.3928571429vw , 10rem );
    }
  }
  @supports not (padding-top: clamp( 6.25rem , 3.5714285714rem  +  13.3928571429vw , 10rem )) {
    .prime__container {
      padding-top: calc(6.25rem + 3.75 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 47.99875em) and (min-width: 48em) {
  .prime__container {
    padding-top: inherit;
  }
}
@media (max-width: 47.99875em) {
  @supports (padding-bottom: clamp( 6.25rem , 3.5714285714rem  +  13.3928571429vw , 10rem )) {
    .prime__container {
      padding-bottom: clamp( 6.25rem , 3.5714285714rem  +  13.3928571429vw , 10rem );
    }
  }
}
@media (max-width: 47.99875em) {
  @supports not (padding-bottom: clamp( 6.25rem , 3.5714285714rem  +  13.3928571429vw , 10rem )) {
    .prime__container {
      padding-bottom: calc(6.25rem + 3.75 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 47.99875em) and (min-width: 48em) {
  .prime__container {
    padding-bottom: inherit;
  }
}
.banner {
  background-color: #9dc20a;
  padding: 40px 80px 56px;
  border-radius: 4px;
  max-width: 567px;
  margin: 0px auto 0px 0px;
  text-align: center;
}
@media (max-width: 47.99875em) {
  .banner {
    background-color: transparent;
    padding: 0;
    margin: 0px auto;
  }
}
.banner__subtitle {
  font-family: Damion, serif;
  font-size: 2.25rem;
  line-height: 1.2;
  text-transform: capitalize;
}
.banner__title {
  font-family: Rubik, sans-serif;
  font-size: 3.125rem;
  line-height: 1.4;
  text-indent: -2px;
  margin-bottom: 0.375rem;
  text-transform: uppercase;
}
@media (max-width: 47.99875em) {
  @supports (font-size: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 3.125rem )) {
    .banner__title {
      font-size: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 3.125rem );
    }
  }
  @supports not (font-size: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 3.125rem )) {
    .banner__title {
      font-size: calc(1.875rem + 1.25 * (100vw - 20rem) / 28);
    }
  }
}
@media (max-width: 47.99875em) and (min-width: 48em) {
  .banner__title {
    font-size: inherit;
  }
}
.banner__body {
  font-size: 1.25rem;
}
@media (max-width: 47.99875em) {
  .banner__body {
    display: none;
  }
}
.banner__text {
  line-height: 1.4;
  margin-bottom: 1.5rem;
}
.banner__text_bold {
  font-weight: 700;
}
.banner__button {
  font-weight: 500;
  width: 100%;
  background-color: #4a4a4a;
  border-radius: 4px;
  line-height: 1.4;
  padding: 18px 15px;
  transition: background-color 0.3s ease 0s;
}
.banner__button:hover {
  background-color: #646464;
}

.feature__container {
  display: flex;
}
@supports (padding-top: clamp( 1.625rem , 0.1964285714rem  +  2.9761904762vw , 2.875rem )) {
  .feature__container {
    padding-top: clamp( 1.625rem , 0.1964285714rem  +  2.9761904762vw , 2.875rem );
  }
}
@supports not (padding-top: clamp( 1.625rem , 0.1964285714rem  +  2.9761904762vw , 2.875rem )) {
  .feature__container {
    padding-top: calc(1.625rem + 1.25 * (100vw - 48rem) / 42);
  }
}
@supports (padding-bottom: clamp( 1.625rem , 0.1964285714rem  +  2.9761904762vw , 2.875rem )) {
  .feature__container {
    padding-bottom: clamp( 1.625rem , 0.1964285714rem  +  2.9761904762vw , 2.875rem );
  }
}
@supports not (padding-bottom: clamp( 1.625rem , 0.1964285714rem  +  2.9761904762vw , 2.875rem )) {
  .feature__container {
    padding-bottom: calc(1.625rem + 1.25 * (100vw - 48rem) / 42);
  }
}
@supports (padding-left: clamp( 1rem , -3rem  +  8.3333333333vw , 4.5rem )) {
  .feature__container {
    padding-left: clamp( 1rem , -3rem  +  8.3333333333vw , 4.5rem );
  }
}
@supports not (padding-left: clamp( 1rem , -3rem  +  8.3333333333vw , 4.5rem )) {
  .feature__container {
    padding-left: calc(1rem + 3.5 * (100vw - 48rem) / 42);
  }
}
@supports (padding-right: clamp( 1rem , -3rem  +  8.3333333333vw , 4.5rem )) {
  .feature__container {
    padding-right: clamp( 1rem , -3rem  +  8.3333333333vw , 4.5rem );
  }
}
@supports not (padding-right: clamp( 1rem , -3rem  +  8.3333333333vw , 4.5rem )) {
  .feature__container {
    padding-right: calc(1rem + 3.5 * (100vw - 48rem) / 42);
  }
}
@supports (gap: clamp( 1rem , 0rem  +  2.0833333333vw , 1.875rem )) {
  .feature__container {
    gap: clamp( 1rem , 0rem  +  2.0833333333vw , 1.875rem );
  }
}
@supports not (gap: clamp( 1rem , 0rem  +  2.0833333333vw , 1.875rem )) {
  .feature__container {
    gap: calc(1rem + 0.875 * (100vw - 48rem) / 42);
  }
}
@media (max-width: 47.99875em) {
  .feature__container {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
  @supports (padding-top: clamp( 1rem , -0.486784141rem  +  4.4052863436vw , 1.625rem )) {
    .feature__container {
      padding-top: clamp( 1rem , -0.486784141rem  +  4.4052863436vw , 1.625rem );
    }
  }
  @supports not (padding-top: clamp( 1rem , -0.486784141rem  +  4.4052863436vw , 1.625rem )) {
    .feature__container {
      padding-top: calc(1rem + 0.625 * (100vw - 33.75rem) / 14.1875);
    }
  }
  @supports (padding-bottom: clamp( 1rem , -0.486784141rem  +  4.4052863436vw , 1.625rem )) {
    .feature__container {
      padding-bottom: clamp( 1rem , -0.486784141rem  +  4.4052863436vw , 1.625rem );
    }
  }
  @supports not (padding-bottom: clamp( 1rem , -0.486784141rem  +  4.4052863436vw , 1.625rem )) {
    .feature__container {
      padding-bottom: calc(1rem + 0.625 * (100vw - 33.75rem) / 14.1875);
    }
  }
  @supports (gap: clamp( 0.625rem , -0.2670704846rem  +  2.6431718062vw , 1rem )) {
    .feature__container {
      gap: clamp( 0.625rem , -0.2670704846rem  +  2.6431718062vw , 1rem );
    }
  }
  @supports not (gap: clamp( 0.625rem , -0.2670704846rem  +  2.6431718062vw , 1rem )) {
    .feature__container {
      gap: calc(0.625rem + 0.375 * (100vw - 33.75rem) / 14.1875);
    }
  }
}
@media (max-width: 540px) {
  .feature__container {
    flex-direction: column;
    gap: 0;
    padding: 0;
  }
}

.card {
  flex: 0 1 50%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
}
@supports (padding: clamp( 1.5rem , 0.9285714286rem  +  1.1904761905vw , 2rem )) {
  .card {
    padding: clamp( 1.5rem , 0.9285714286rem  +  1.1904761905vw , 2rem );
  }
}
@supports not (padding: clamp( 1.5rem , 0.9285714286rem  +  1.1904761905vw , 2rem )) {
  .card {
    padding: calc(1.5rem + 0.5 * (100vw - 48rem) / 42);
  }
}
@media (max-width: 47.99875em) {
  @supports (padding: clamp( 1rem , -0.1894273128rem  +  3.5242290749vw , 1.5rem )) {
    .card {
      padding: clamp( 1rem , -0.1894273128rem  +  3.5242290749vw , 1.5rem );
    }
  }
  @supports not (padding: clamp( 1rem , -0.1894273128rem  +  3.5242290749vw , 1.5rem )) {
    .card {
      padding: calc(1rem + 0.5 * (100vw - 33.75rem) / 14.1875);
    }
  }
}
@media (max-width: 540px) {
  .card:nth-child(odd) {
    background-color: #d4d4d4;
  }
}
.card:hover img {
  transform: scale(1.06);
}
.card__image {
  overflow: hidden;
}
@supports (height: clamp( 19.5rem , 12.0714285714rem  +  15.4761904762vw , 26rem )) {
  .card__image {
    height: clamp( 19.5rem , 12.0714285714rem  +  15.4761904762vw , 26rem );
  }
}
@supports not (height: clamp( 19.5rem , 12.0714285714rem  +  15.4761904762vw , 26rem )) {
  .card__image {
    height: calc(19.5rem + 6.5 * (100vw - 48rem) / 42);
  }
}
@media (max-width: 48em) {
  .card__image {
    height: inherit;
  }
}
@supports (margin-bottom: clamp( 1rem , -0.7142857143rem  +  3.5714285714vw , 2.5rem )) {
  .card__image {
    margin-bottom: clamp( 1rem , -0.7142857143rem  +  3.5714285714vw , 2.5rem );
  }
}
@supports not (margin-bottom: clamp( 1rem , -0.7142857143rem  +  3.5714285714vw , 2.5rem )) {
  .card__image {
    margin-bottom: calc(1rem + 1.5 * (100vw - 48rem) / 42);
  }
}
.card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease 0s;
}
.card__title {
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 0.625rem;
}
@supports (font-size: clamp( 1.125rem , 0.8035714286rem  +  1.6071428571vw , 2.25rem )) {
  .card__title {
    font-size: clamp( 1.125rem , 0.8035714286rem  +  1.6071428571vw , 2.25rem );
  }
}
@supports not (font-size: clamp( 1.125rem , 0.8035714286rem  +  1.6071428571vw , 2.25rem )) {
  .card__title {
    font-size: calc(1.125rem + 1.125 * (100vw - 20rem) / 70);
  }
}
.card__text {
  line-height: 20px;
  font-weight: 300;
}
@supports (font-size: clamp( 0.875rem , 0.8392857143rem  +  0.1785714286vw , 1rem )) {
  .card__text {
    font-size: clamp( 0.875rem , 0.8392857143rem  +  0.1785714286vw , 1rem );
  }
}
@supports not (font-size: clamp( 0.875rem , 0.8392857143rem  +  0.1785714286vw , 1rem )) {
  .card__text {
    font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 70);
  }
}

.filters {
  background-color: #4a4a4a;
  color: #fff;
}
.filters__container {
  padding: 64px 10px;
  text-align: center;
}
@supports (padding-top: clamp( 1.25rem , -0.7186800895rem  +  9.8434004474vw , 4rem )) {
  .filters__container {
    padding-top: clamp( 1.25rem , -0.7186800895rem  +  9.8434004474vw , 4rem );
  }
}
@supports not (padding-top: clamp( 1.25rem , -0.7186800895rem  +  9.8434004474vw , 4rem )) {
  .filters__container {
    padding-top: calc(1.25rem + 2.75 * (100vw - 20rem) / 27.9375);
  }
}
@supports (padding-bottom: clamp( 0.625rem , -3.2321428571rem  +  8.0357142857vw , 4rem )) {
  .filters__container {
    padding-bottom: clamp( 0.625rem , -3.2321428571rem  +  8.0357142857vw , 4rem );
  }
}
@supports not (padding-bottom: clamp( 0.625rem , -3.2321428571rem  +  8.0357142857vw , 4rem )) {
  .filters__container {
    padding-bottom: calc(0.625rem + 3.375 * (100vw - 48rem) / 42);
  }
}
.filters__title {
  font-weight: 700;
  max-width: 33.125rem;
  margin: 0px auto;
  margin-bottom: 0.5rem;
}
@supports (font-size: clamp( 1.25rem , 0.5341163311rem  +  3.5794183445vw , 2.25rem )) {
  .filters__title {
    font-size: clamp( 1.25rem , 0.5341163311rem  +  3.5794183445vw , 2.25rem );
  }
}
@supports not (font-size: clamp( 1.25rem , 0.5341163311rem  +  3.5794183445vw , 2.25rem )) {
  .filters__title {
    font-size: calc(1.25rem + 1 * (100vw - 20rem) / 27.9375);
  }
}
.filters__subtitle {
  line-height: 1.4;
  font-weight: 300;
  max-width: 33.125rem;
  margin: 0px auto;
}
@supports (margin-bottom: clamp( 1.25rem , -0.0027964206rem  +  6.2639821029vw , 3rem )) {
  .filters__subtitle {
    margin-bottom: clamp( 1.25rem , -0.0027964206rem  +  6.2639821029vw , 3rem );
  }
}
@supports not (margin-bottom: clamp( 1.25rem , -0.0027964206rem  +  6.2639821029vw , 3rem )) {
  .filters__subtitle {
    margin-bottom: calc(1.25rem + 1.75 * (100vw - 20rem) / 27.9375);
  }
}
.filters__images {
  display: flex;
  flex-wrap: wrap;
}
.filters__image {
  flex: 0 0 25%;
  position: relative;
}
.filters__image::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
@media (max-width: 47.99875em) {
  .filters__image {
    flex: 0 0 33.333%;
  }
  .filters__image:last-child {
    display: none;
  }
}
@media (max-width: 540px) {
  .filters__image {
    flex: 0 0 50%;
  }
  .filters__image:last-child {
    display: inline-block;
  }
}
.filters__image:hover img {
  transform: scale(1.05);
  z-index: 5;
}
.filters img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease 0s;
}

.quotes__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
  padding: 24px;
}
@supports (padding-top: clamp( 3.125rem , 1.5535714286rem  +  3.2738095238vw , 4.5rem )) {
  .quotes__container {
    padding-top: clamp( 3.125rem , 1.5535714286rem  +  3.2738095238vw , 4.5rem );
  }
}
@supports not (padding-top: clamp( 3.125rem , 1.5535714286rem  +  3.2738095238vw , 4.5rem )) {
  .quotes__container {
    padding-top: calc(3.125rem + 1.375 * (100vw - 48rem) / 42);
  }
}
@supports (padding-bottom: clamp( 3.125rem , 1.5535714286rem  +  3.2738095238vw , 4.5rem )) {
  .quotes__container {
    padding-bottom: clamp( 3.125rem , 1.5535714286rem  +  3.2738095238vw , 4.5rem );
  }
}
@supports not (padding-bottom: clamp( 3.125rem , 1.5535714286rem  +  3.2738095238vw , 4.5rem )) {
  .quotes__container {
    padding-bottom: calc(3.125rem + 1.375 * (100vw - 48rem) / 42);
  }
}
@media (max-width: 47.99875em) {
  @supports (padding-top: clamp( 2.25rem , 0.1685022026rem  +  6.1674008811vw , 3.125rem )) {
    .quotes__container {
      padding-top: clamp( 2.25rem , 0.1685022026rem  +  6.1674008811vw , 3.125rem );
    }
  }
  @supports not (padding-top: clamp( 2.25rem , 0.1685022026rem  +  6.1674008811vw , 3.125rem )) {
    .quotes__container {
      padding-top: calc(2.25rem + 0.875 * (100vw - 33.75rem) / 14.1875);
    }
  }
  @supports (padding-bottom: clamp( 2.25rem , 0.1685022026rem  +  6.1674008811vw , 3.125rem )) {
    .quotes__container {
      padding-bottom: clamp( 2.25rem , 0.1685022026rem  +  6.1674008811vw , 3.125rem );
    }
  }
  @supports not (padding-bottom: clamp( 2.25rem , 0.1685022026rem  +  6.1674008811vw , 3.125rem )) {
    .quotes__container {
      padding-bottom: calc(2.25rem + 0.875 * (100vw - 33.75rem) / 14.1875);
    }
  }
}
@media (max-width: 540px) {
  .quotes__container {
    flex-direction: column;
  }
}
.quotes__text {
  font-family: Damion, serif;
  line-height: 1.4;
}
@supports (font-size: clamp( 1.5rem , 1.2321428571rem  +  1.3392857143vw , 1.875rem )) {
  .quotes__text {
    font-size: clamp( 1.5rem , 1.2321428571rem  +  1.3392857143vw , 1.875rem );
  }
}
@supports not (font-size: clamp( 1.5rem , 1.2321428571rem  +  1.3392857143vw , 1.875rem )) {
  .quotes__text {
    font-size: calc(1.5rem + 0.375 * (100vw - 20rem) / 28);
  }
}
@media (max-width: 540px) {
  .quotes__text {
    text-align: center;
  }
}
.quotes__source {
  flex: 0 0 auto;
}
.quotes__source img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
